

.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct_info{
    padding-left: 20px;
}
.checkoutProduct_info > button{
    background: #f0c14b;
    border: 1px solid;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
    color: #111;
}
.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct_rating{
    display: flex;
}
.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}

.button{
    margin-left: 150px;
    display: flex;
}

.buttonOn{
    background: #f0c14b;
    border-color: #f0c14b;
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count{
    margin-top: 6px;
    margin-right: 10px;
    margin-left:10px ;
}

.count_product{
    margin-top: 6px;
    margin-left: 80px;
}

.button_white{
    padding: 2px 4px;
    background-color: white;
    border: 1px solid black ;
    margin-bottom: 2px;
    display: flex;
}

@media(max-width:700px){
    
.checkout__title{
    font-size: 14px;
   }

   .checkoutProduct_image{
    width: 100px;
    height: 100px;
   }

   .checkoutProduct_title{
    font-size: 9px;
   }

  .checkoutProduct_price{
    font-size: 13px;
  }
  .checkoutProduct_rating{
    font-size: 10px;
  }

  .checkoutProduct_info > button{
    height: 13px;
    width: 85px;
    font-size: 6px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.button{
    margin-left: 40px;
}

.buttonOn{
    height: 10px;
    width: 10px;
    padding-bottom: 6px;
}

.count{
    margin-top: 3px;
}
}