

.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
    position: relative;
    overflow: hidden;
}

.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkoutProduct{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}
.checkoutProduct_info{
    padding-left: 20px;
}
.buttonRemove{
    background: #f0c14b;
    border: 1px solid;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
    color: #111;
}
.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct_rating{
    display: flex;
}
.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}

.button{
    /* margin-left: 150px; */
    position: absolute;
    display: flex;
    left: 450px;
}

.buttonOn{
    background: #f0c14b;
    border-color: #f0c14b;
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.count{
    margin-top: 6px;
    margin-right: 10px;
    margin-left:10px ;
}

.count_product{
    margin-top: 6px;
    margin-left: 80px;
    position: absolute;
    left: 550px;
}

.button_white{
    padding: 2px 4px;
    background-color: white;
    border: 1px solid black ;
    margin-bottom: 2px;
    display: flex;
}

.divLine{
height: 1px;
width: 100%;
background-color:grey;
margin-top: 90px;
position: absolute;
left: 0;
}

@media(max-width:700px){
    
.checkout__title{
    font-size: 14px;
   }

   .checkoutProduct_image{
    width: 100px;
    height: 100px;
   }

   .checkoutProduct_title{
    font-size: 9px;
   }

  .checkoutProduct_price{
    font-size: 13px;
  }
  .checkoutProduct_rating{
    font-size: 10px;
  }

  .buttonRemove{
    height: 20px;
    width: 85px;
    font-size: 6px;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* position: absolute;
    left: 130px; */
}

.button{
    left: 220px;
}

.buttonOn{
    height: 20px;
    width: 20px;
    padding-bottom: 6px;
}

.count{
    margin-top: 3px;
}

.count_product{
    left: 230px;
    display: flex;
    margin-top: 1px;
}

.button_white{
    height: 17px;
    width: 30px;
    font-size: 8px;
    align-items: center;
    justify-content: center;
    padding: 2px 2px;
}
}